# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/bin/main/com/keno/solo/game/engine/plot_four/PlotFourOnline.class
app/bin/main/com/keno/solo/game/engine/plot_four/PlotFour.class
app/bin/main/com/keno/solo/game/engine/boardgame/Boardgame.class
app/bin/main/com/keno/solo/game/Game.class
app/bin/main/com/keno/solo/game/engine/plot_four/PlotFourOnline.class
app/bin/main/com/keno/solo/game/engine/plot_four/PlotFourOffline.class
app/bin/main/com/keno/solo/game/engine/plot_four/PlotFourAI.class
app/bin/main/com/keno/solo/game/Playable.class
app/bin/main/com/keno/solo/game/Playable.class
